[submodule "react-client"]
	path = react-client
	url = https://github.com/sekharkasi/react-client.git
[submodule "react-server"]
	path = react-server
	url = https://github.com/sekharkasi/react-client.git
